.material-icons.right-icon {
  float: right;
  margin-right: 0px;
  padding-right: 20px;
}

.collapsible {
  box-shadow: none;
}

.custom-tag {
  background: #eee;
}

.collection-item.custom-tag {
  background-color: #eee;
}